
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; #PURWOKERTOJS.ORG 2018</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="http://localhost:3000/js/jquery.min.js"></script>
    <script src="http://localhost:3000/js/bootstrap.bundle.min.js"></script>
    <script src="http://localhost:3000/vendor/datatables/jquery.dataTables.js"></script>
    <script src="http://localhost:3000/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="http://localhost:3000/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="http://localhost:3000/js/sb-admin-datatables.min.js"></script>

</body>

</html>