<%- include ../component/header.ejs %>
<%- include ../component/menu.ejs %>

<header></header>
<!-- Page Content -->
<section class="py-5 ">
    <div class="container ">

        <h1 class="text-center">About Us</h1>
        <div class="text-center">Home / About</div>
    
    </div>

</section>
<section class="py-5 bg-warning">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h2 class="">Selamat Datang</h2>
                    <p>Selamat datang di situs #PURWOKERTOJSORG adalah sebuah website berisi informasi seputar event dunia
                        javascript di kota purwokerto. Pastikan anda terdaftar dan berpartisipasi pada setiap eventnya.
                        Mari upgrade skill javascript anda!</p>

                    <a href="#download" class="btn btn-danger btn-xl js-scroll-trigger">Daftar Member!</a>
                </div>
            </div>

            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="img/javascript.png" class="img-fluid" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include ../component/footer.ejs %>