<%- include ../component/header.ejs %>
    <%- include ../component/menu.ejs %>
        <section class="py-5 ">
            <div class="container ">
               
                <br>
                <h1 class="text-center">Selamat</h1>
                <div class="text-center">Home / Selamat</div>

            </div>
            <br>
            <br>
       
            <div class="container ">

                <div class="col-lg-12 col-lg-offset-2">

                    <h3>Selamat!</h3>
                    <p>Anda Sudah Terdaftar Silahkan Melakukan Login!</p>
                    <a href="login" class="btn btn-danger">Login</a>

                </div>
                <!-- /.8 -->


            </div>

        </section>

        <!-- /.container -->
        <%- include ../component/footer.ejs %>